@media  screen and (max-width:600px) {
    header h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .form-control:disabled{
        margin-bottom: 20px;
    }
    body .text-caption h5 {
        font-size: 45px;
    } 

}

